@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        background-color: #a17af5;
    }
}

body {
    overflow-x: hidden;
}

.text-stroke {
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px #bababa;
  }