@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        background-color: #a17af5;
    }
}

body, html {
    overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
.text-stroke {
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px #bababa;
  }
}

@media (prefers-color-scheme: dark) {
    .text-stroke {
        color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px #444444;
    }
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333; 
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    border: 1px solid #CCC;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}